<a href="https://colab.research.google.com/github/Hussainaquib/R-programs/blob/main/Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write R code to create a 3x3 matrix filled with the values 1 to 9, using the matrix() function. Then extract the first row and last column of the matrix using row and column indexing.**

In [1]:
m=matrix(1:9,nrow=3,ncol=3)
print(m)
print(m[1,])
print(m[,3])

     [,1] [,2] [,3]
[1,]    1    4    7
[2,]    2    5    8
[3,]    3    6    9
[1] 1 4 7
[1] 7 8 9

**Define a 4x4 matrix with all elements set to 0, and then fill the diagonal with the values 1, 2, 3, and 4 using the diag()**

In [2]:
m= matrix(0:0,nrow=4,ncol=4)
diag(m)<-c(1,2,3,4)
print(m)

     [,1] [,2] [,3] [,4]
[1,]    1    0    0    0
[2,]    0    2    0    0
[3,]    0    0    3    0
[4,]    0    0    0    4

**Create two matrices, A and B, each with dimensions 3x3, filled with random values. Combine them into a single matrix C by binding them together by columns**

In [4]:
A<-matrix(seq(1,4),nrow=2,ncol=2,byrow=TRUE)
B<-matrix(seq(5,8),nrow=2,ncol=2,byrow=TRUE)
C<-cbind(A,B)
print(C)

     [,1] [,2] [,3] [,4]
[1,]    1    2    5    6
[2,]    3    4    7    8

**Define a 5x5 matrix and replace the values in the 3rd row and 4th column with the value 0, using indexing**

In [5]:
m5=matrix(1:25,nrow=5,ncol=5)
m5[3,4]<-0
print(m5)

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    6   11   16   21
[2,]    2    7   12   17   22
[3,]    3    8   13    0   23
[4,]    4    9   14   19   24
[5,]    5   10   15   20   25

**2x2 matrix with any values you choose, and then extract the elements in the top-right and bottom-left positions using the indexing operator**

In [6]:
x<-matrix(1:4,nrow=2,ncol=2)
print(x[1,2])
print(x[2,1])

[1] 3
[1] 2